@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
:root{
  
  width: 100%;
  height: 100%;
  background-color: white;
}
*{
  font-family: Outfit ;
}
.active hr {
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden;
}